.shoap{
background-color: aqua;
width:500px;
height:100px;
text-align:center;
padding-top:2rem;
padding-bottom:2rem;
margin-top: 2rem;
}
.shoap h1{
    color: white;
    font-weight:bolder;

}
.shoap h2{
    color: green;

    font-weight:bolder;
    font-style: italic;
}